[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "glinvci"]
	path = glinvci
	url = https://github.com/hckiang/glinvci
	shallow = true
	registered = true
